### 1. Functions

In [1]:
# lambda function that one of available functions in Python
double = lambda a: a * 2
double(5)

10

In [2]:
# Function that created from user
def double_(a):
 return a * 2
double_(5)

10

In [3]:
# Apply "lambda" with "filter" functions
list_goc = [10, 9, 8, 7, 6, 1, 2, 3, 4, 5]

list_moi = list(filter(lambda a: (a%2 == 0) , list_goc))

print(list_moi)

[10, 8, 6, 2, 4]

In [5]:
list_1 = [ 20,22,43,50,60,80]
list_2 =list(filter(lambda a:(a%2 == 0),list_1))
print(list_2)

[20, 22, 50, 60, 80]

In [13]:
# Apply "lambda" with "map" functions
list_goc = [10, 9, 8, 7, 6, 1, 2, 3, 4,5]
list_moi = list(map(lambda a:  (a*2), list_goc))
print(list_moi)

[20, 18, 16, 14, 12, 2, 4, 6, 8, 10]

### 2. Class

In [14]:
#Create "Student" class
class Student:
    pass

In [17]:
# Create 2 objects <a,b> from "Student" class
a = Student()
b = Student()
a==b
#print(a)
#print(b)

<__main__.Student object at 0x7fd9085ea130>
<__main__.Student object at 0x7fd9085ea0d0>

In [18]:
print(a)

<__main__.Student object at 0x7fd9085ea130>

In [19]:
a.__str__()

'<__main__.Student object at 0x7fd9085ea130>'

In [ ]:
print(b)

In [ ]:
b.__str__()

In [20]:
#Create "Vehicle" class
class Vehicle:
    pass
# Create <c> object from "Vehicle" class
c = Vehicle()

In [21]:
# Check whether <a> object is created from <Student> or not 
isinstance(a, Student)

True

In [ ]:
# Check whether <c> object is created from <Student> or not 
isinstance(c, Student)

In [22]:
class Dog:
    "Create class from me"
    species = "Canis familiaris"
    # Create contructor
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [23]:
# Print decription of "Dog" class
Dog.__doc__

'Create class from me'

In [24]:
# Print more detail about "Dog" class
help(Dog)

Help on class Dog in module __main__:

class Dog(builtins.object)
 |  Dog(name, age)
 |
 |  Create class from me
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  species = 'Canis familiaris'

In [25]:
buddy = Dog("Buddy", 9)
# Access "age" instance attribute of "buddy" object
print(buddy.age)

9

In [26]:
buddy = Dog("Buddy", 9)
# Access "name" instance attribute of "buddy" object
print(buddy.name)

Buddy

In [28]:
class Dog:
    species = "Canis familiaris"
    def __init__(self, name, age):
        self.name = name
        self.age = age
     # Instance method
    def description(self):
        return f"{self.name} is {self.age} years old"

    # Another instance method
    def speak(self, sound):
        return f"{self.name} says {sound}"

In [29]:
class Taxi:
    numberOfTaxi = 0
    def __init__(self, driver_name, on_duty, cities):
        self.dname = driver_name
        self.oduty = on_duty
        self.cities = cities
        self.num_passengers = 0
        Taxi.numberOfTaxi = Taxi.numberOfTaxi + 1
        
    @classmethod
    def how_many(cls):
      """return the current Taxi inventory"""
      return cls.numberOfTaxi

In [32]:
first_tx = Taxi('Tien', True, ['HN', 'BN'])
second_tx = Taxi('Bao', False, ['HCM', 'CM'])

In [33]:
print(f'{first_tx.dname} is driving {first_tx.num_passengers} passengers. Currently, we have: {Taxi.how_many()} taxis' )

Tien is driving 0 passengers. Currently, we have: 4 taxis

In [34]:
https://www.slideshare.net/AleksanderFabijan/python-oop-class-2-inheritance

SyntaxError: invalid syntax (<ipython-input-34-2395a662f43e>, line 1)

## inheritance

In [36]:
class Vehicle:
  def __init__(self, driver_name, number_of_wheels, number_of_seats):
    self.dname = driver_name
    self.nwheels = number_of_wheels
    self.nseats = number_of_seats
  def __str__(self):
    return f'This vehicle is driven by:  {self.dname} and it has {self.nwheels} wheels.'

a = Vehicle('Tien', 4, 4)
print(a)

This vehicle is driven by:  Tien and it has 4 wheels.

In [ ]:
class Taxi(Vehicle):
  def __init__(self, driver_name, number_of_wheels, number_of_seats, on_duty):
    super().__init__(driver_name, number_of_wheels, number_of_seats)
    self.oduty = on_duty
  def __str__(self):
    return f'Taxi: This vehicle is driven by:  {self.dname} and it has {self.nwheels} wheels.'

In [ ]:
vehicle_1st = Vehicle('Tien', 4, 4)
print(vehicle_1st)

In [ ]:
taxi_1st = Taxi('Tien tx', 4, 2, True)
print(taxi_1st)

In [ ]:
class Bus(Vehicle):
  def __init__(self, driver_name, number_of_wheels, number_of_seats, color):
    super().__init__(driver_name, number_of_wheels, number_of_seats)
    self.color = color
  def __str__(self):
    return f'Bus: This vehicle is driven by:  {self.dname} and it has {self.nwheels} wheels.'
bus_1st = Bus('Hung tx', 4, 2, "Red")
print(bus_1st)

In [ ]:
bus_1st.color

In [ ]:
bus_1st.__str__()

# Object-relational mapping (ORM)

In [ ]:
!pip install peewee

In [ ]:
# We first import the ORM
import peewee as pw

# We set the name of the Sqlite database
db = pw.SqliteDatabase('vehicle.db')

In [ ]:
# Create the class for the "Vehicle" by inheriting from peewee.Model
class Vehicle(pw.Model):
  """
  ORM model of the Vehicle
  """
  dname = pw.TextField()
  nwheels = pw.IntegerField()
  nseats = pw.IntegerField()
  
  class Meta:
    '''
    we connect the database to the models via the nested class
    '''
    database = db

In [ ]:
# Create the table for the class
try:
  Vehicle.create_table()
except pw.OperationalError:
  print('Vehicle table already exists')

In [ ]:
# Create a few instances of the "Vehicle"
vh_1 = Vehicle(dname ='Tien A', nwheels=4, nseats=5)
vh_2 = Vehicle(dname ='Tien B', nwheels=4, nseats=6)
vh_3 = Vehicle(dname ='Tien C', nwheels=8, nseats=7)

# Save them in the database
vh_1.save()
vh_2.save()
vh_3.save()

In [ ]:
# Query for items in a database by "get()"
Vehicle.get(Vehicle.dname=='Tien C').dname

In [ ]:
# Query for items in a database by "get()"
Vehicle.get(Vehicle.dname=='Tien A').nseats

In [ ]:
# Query for items in a database by "select()"
vehicles = Vehicle.select().where(Vehicle.dname.contains('B'))
vehicles.get().nwheels

In [ ]:
# Query for items in a database by "select()"
vehicles = Vehicle.select().where(Vehicle.dname.in_(['Tien A', 'Tien B']))
vehicles.get().dname

In [ ]:
Vehicle._meta.fields

In [ ]:
Vehicle._meta.primary_key

In [ ]:
Vehicle._meta.database.get_tables

Link: http://docs.peewee-orm.com/en/latest/peewee/models.html to more detail.